*.zip
*.snap
*.dat
*.snap
*.gen
*.resources
*.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_1f
*.resources
.metadata/.plugins/org.eclipse.core.resources/.projects/ecoding/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/nexus-maven-repository-index.properties
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi